@font-face {
    font-family:starJedi;
    src:url(../font/Starjedi.ttf);
    font-display: swap;
}

.entry__title, .main-nav__list {
    font-family: 'starJedi', serif;
}

.floatright {
    float: right;
}

.swr__floatright {
    float: right;
    max-width: 25%;
    margin: 1em 0 1em 1em;
}

.floatleft {
    float: left;
    margin: 10px;
}

.swr__floatleft {
    float: left;
    max-width: 25%;
    margin: 0 1em 1em 1em;
}

.swr__wfull {
    display: block;
    width: fit-content;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* Fix scrolling bug in post page */
.entry__content {
    overflow: unset;
}

